.Rproj.user
.Rhistory
.RData
.Ruserdata
Mrds Formulations.Rmd
Mrds-Formulations.html
Mrds-Formulations.pdf
Rplot.pdf
bpicode.r
example.Rmd
intro.Rmd
intro.html
intro.pdf
loglinear_plots.pdf
loglinear_simulation.pdf
mrds_plots.pdf
mrdsalt.Rproj
